<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher - Add Researcher</title>
    <%- head %>
</head>
<body>
    <!-- Navigation (sticky header). Links and dropdown collapse into a hamburger menu when the screen size is small. -->
    <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
        <!-- Brand on the left -->
        <a class="navbar-brand bigBrand" href="/" id="navbar-brand">Grant Matcher</a>

        <!-- Toggler (for mobile view) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial">Tutorial</a>
                </li>

                <!-- Dropdown (user menu) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- Logout button (opens a modal) -->
                        <li><button class="dropdown-item" id="modalBtn1" onclick="openModal(1)">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The modal the logout button in the navigation bar opens -->
    <div id="modal1" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Log out</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close1">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to log out?</p>
            <div style="display: flex">
                <form method="post" action="/">
                    <input type="submit" value="Logout!" class="buttonStyle">
                </form>
                <button id='cancel1' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Error modal -->
    <div id="modal2" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close2">&times;</span>
            </div>
            
            <p id="showAlert"></p>
        </div>
    </div>

    <!-- Another error modal -->
    <div id="modal3" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Woops!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close3">&times;</span>
            </div>
            
            <p>Please ensure all areas have been filled in.</p>
        </div>
    </div>

    <!-- Confirmation modal for going back to dashboard -->
    <div id="modal4" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Go Back</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close4">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to go back to the dashboard?</p>
            <button class="buttonStyle" onclick="window.location.href = '/'">Go Back</button>
            <button id='cancel4' class="buttonStyle">Cancel</button>
        </div>
    </div>

    <!-- Confirmation modal before submitting the form -->
    <div id="modal5" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Add Researcher</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close5">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to add this researcher now?</p>
            <button class="buttonStyle" onclick="submit()">Add Researcher</button>
            <button id='cancel5' class="buttonStyle">Cancel</button>
        </div>
    </div>

    <!-- The main content -->
    <main>
        <section>
            <div class="together align-items-center" style="justify-content: space-between;">
                <div>
                    <h1>Add a Researcher</h1>
                </div>
                <div>
                    <i class="fa fa-times" onclick="openModal(4)"></i>
                </div>
            </div>
        </section>
        <hr/>

        <section>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>NAME</b></label>
                    <input type="text" id="name" class="form-control" name="name" required>
                </div>
                <div style="width: 100%;">
                    <label><b>EMAIL</b></label>
                    <input type="email" id="email" class="form-control" name="email" required>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>SCHOOL</b></label>
                    <select name="school" class="form-control" id="school" style="width: 100%" required>
                        <option value="">Select</option>
                        <option value="geoscience" id="schoolgeoscience">Geosciences</option>
                        <option value="philosophy" id="schoolphilosophy">History and Philosophy</option>
                        <option value="chemistry" id="schoolchemistry">Chemistry</option>
                        <option value="biology" id="schoolbiology">Life and Environmental Sciences</option>
                        <option value="mathematics" id="schoolmathematics">Mathematics and Statistics</option>
                        <option value="physics" id="schoolphysics">Physics</option>
                        <option value="psychology" id="schoolpsychology">Psychology</option>
                        <option value="veterinary" id="schoolveterinary">Veterinary Science</option>
                    </select>
                </div>
                <div style="width: 100%;">
                    <label><b>GENDER</b></label>
                    <select name="gender" class="form-control" id="gender" style="width: 100%" required>
                        <option value="F" id="genderF">Female</option>
                        <option value="M" id="genderM">Male</option>
                        <option value="N" id="genderN">Non-Binary</option>
                        <option value="U" id="genderU" selected="">Unknown Gender</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>CAREER STAGE</b></label>
                    <select name="career" class="form-control" id="career" style="width: 100%" required>
                        <option value=0 id="cds0">Select</option>
                        <option value=1 id="cds1">Post-Doctorate</option>
                        <option value=2 id="cds2">Early Career Researcher</option>
                        <option value=3 id="cds3">Mid-Career Researcher</option>
                        <option value=4 id="cds4">Senior Researcher</option>
                    </select>
                </div>
                <div style="width: 100%;">
                    <label><b>ACTIVITY</b></label>
                    <input type="number" min=0 max="1" id="activity" step="0.1" class="form-control" name="activity" required>
                </div>
            </div>
            <br>

            <label><b>SELECT CLUSTERS</b></label>
            <p>Click clusters in the unselected list to select them, and click clusters in the selected list to deselect them. You can search and sort the two lists separately.</p>
            <div class="together clusterselector">
                <!-- List of the unselected clusters -->
                <div class="unselected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- This is where the user enters some text that is matched to the clusters in the unselectedClusters list -->
                            <input class="listboxtext" type="text" id="searchUnselectedClusters1" name="searchUnselectedClusters1" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- User can press this button to search from the list -->
                            <button class="listboxsubmit" onclick="findUnselectedCluster(1)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- Added a reset button so its easier for the user to reset the form (displaying all clusters in the list) -->
                            <button class="listboxsubmit" onclick="resetUnselectedClusterSearch(1)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <!-- Contains all unselected clusters -->
                    <div class="listboxdiv unselectedClusters" id="unselectedClusters1">
                    </div>
                    <div class="clustersort">
                        <label for="sortUnselected1">Sort By:</label>

                        <!-- Sort-by dropdown -->
                        <select name="sortUnselected1" id="sortUnselected1" onchange="sortUnselected(1)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>

                <!-- Duplicate of the unselected list (for consistency and symmetrical balance) but with different names -->
                <div class="selected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <input class="listboxtext" type="text" id="searchSelectedClusters1" name="searchSelectedClusters1" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="findSelectedCluster(1)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="resetSelectedClusterSearch(1)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="listboxdiv selectedClusters" id="selectedClusters1">
                    </div>
                    <div class="clustersort">
                        <label for="sortSelected1">Sort By:</label>

                        <select name="sortSelected1" id="sortSelected1" onchange="sortSelected(1)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>PROFILE</b></label><br>
                    <textarea rows="4" style="width: 100%;" id="profile" class="form-control" name="profile" required></textarea>
                </div>
                <div style="width: 100%;">
                    <label><b>KEYWORDS</b></label><br>
                    <div style="width: 100%;">
                        <div class="listbox" style="overflow:auto; ">
                            <div class="listboxdiv" style="height: 70px;">
                                <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                                <!-- All keywords displayed here -->
                                <ul class="listboxul" id="list1" style="height: 70px;" name="list1">
                                </ul>
                            </div>

                            <!-- The two elements in the div are on the same line -->
                            <div class="listboxinput">
                                <!-- User enters keywords here -->
                                <div class="listboxtextdiv">
                                    <input class="listboxtext" type="text" id="keyword1" name="keyword1" placeholder="Enter a keyword">
                                </div>

                                <!-- User presses this button to add the keyword to the list -->
                                <div class="listboxsubmitdiv">
                                    <button class="listboxsubmit" onclick="addKeyword(1)"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <label><b>PUBLICATIONS</b></label><br>
                    <div style="width: 100%;">
                        <div class="listbox" style="overflow:auto; ">
                            <div class="listboxdiv" style="height: 70px;">
                                <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                                <!-- All keywords displayed here -->
                                <ul class="listboxul" id="list2" style="height: 70px;" name="list2">
                                </ul>
                            </div>

                            <!-- The two elements in the div are on the same line -->
                            <div class="listboxinput">
                                <!-- User enters keywords here -->
                                <div class="listboxtextdiv">
                                    <input class="listboxtext" type="text" id="keyword2" name="keyword2" placeholder="Enter a publication name">
                                </div>

                                <!-- User presses this button to add the keyword to the list -->
                                <div class="listboxsubmitdiv">
                                    <button class="listboxsubmit" onclick="addKeyword(2)"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%;">
                    <label><b>PUBLICATION KEYWORDS</b></label><br>
                    <div style="width: 100%;">
                        <div class="listbox" style="overflow:auto; ">
                            <div class="listboxdiv" style="height: 70px;">
                                <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                                <!-- All keywords displayed here -->
                                <ul class="listboxul" id="list3" style="height: 70px;" name="list3">
                                </ul>
                            </div>

                            <!-- The two elements in the div are on the same line -->
                            <div class="listboxinput">
                                <!-- User enters keywords here -->
                                <div class="listboxtextdiv">
                                    <input class="listboxtext" type="text" id="keyword3" name="keyword3" placeholder="Enter a publication keyword">
                                </div>

                                <!-- User presses this button to add the keyword to the list -->
                                <div class="listboxsubmitdiv">
                                    <button class="listboxsubmit" onclick="addKeyword(3)"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <label><b>GRANTS</b></label><br>
                    <div style="width: 100%;">
                        <div class="listbox" style="overflow:auto; ">
                            <div class="listboxdiv" style="height: 70px;">
                                <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                                <!-- All keywords displayed here -->
                                <ul class="listboxul" id="list4" style="height: 70px;" name="list4">
                                </ul>
                            </div>

                            <!-- The two elements in the div are on the same line -->
                            <div class="listboxinput">
                                <!-- User enters keywords here -->
                                <div class="listboxtextdiv">
                                    <input class="listboxtext" type="text" id="keyword4" name="keyword4" placeholder="Enter a grant name">
                                </div>

                                <!-- User presses this button to add the keyword to the list -->
                                <div class="listboxsubmitdiv">
                                    <button class="listboxsubmit" onclick="addKeyword(4)"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%;">
                    <label><b>GRANT KEYWORDS</b></label><br>
                    <div style="width: 100%;">
                        <div class="listbox" style="overflow:auto; ">
                            <div class="listboxdiv" style="height: 70px;">
                                <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                                <!-- All keywords displayed here -->
                                <ul class="listboxul" id="list5" style="height: 70px;" name="list5">
                                </ul>
                            </div>

                            <!-- The two elements in the div are on the same line -->
                            <div class="listboxinput">
                                <!-- User enters keywords here -->
                                <div class="listboxtextdiv">
                                    <input class="listboxtext" type="text" id="keyword5" name="keyword5" placeholder="Enter a grant keyword">
                                </div>

                                <!-- User presses this button to add the keyword to the list -->
                                <div class="listboxsubmitdiv">
                                    <button class="listboxsubmit" onclick="addKeyword(5)"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button class="buttonStyle pink" style="width: 100%;" onclick="openModal(5)">Add Researcher</button>
            <br><br>
        </section>
    </main>
    
    <!-- EJS partial (for code reuse and efficiency) -->
    <%- footer %>

    <!-- Bootstrap for JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- This file allows for the user to interact with the elements on the site and for the site to give feedback to the user -->
    <script src="script.js"></script>
    <!-- JQuery for the tooltip -->
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
    <script>
        function submit() {
            researcherName = document.getElementById("name").value
            email = document.getElementById("email").value
            gender = document.getElementById("gender").value
            school = document.getElementById("school").value
            career = document.getElementById("career").value
            activity = document.getElementById("activity").value
            profile = document.getElementById("profile").value

            // validation for each field (make sure its not empty)
            if (researcherName.trim() == '' || email.trim() == '' || gender.trim() == '' || school.trim() == '' || career.trim() == '' || activity.trim() == '' || profile.trim() == '') {
                document.getElementById("modal5").style.display = 'none'
                openModal(3)
            } else {
                data = {
                    "name": researcherName,
                    "email": email,
                    "gender": gender,
                    "school": school,
                    "career": career,
                    "activity": activity,
                    "profile": profile,
                    "clusters": getSelectedClusterNames(1),
                    "keywords": getKeywords(1),
                    "publications": getKeywords(2),
                    "publicationKeywords": getKeywords(3),
                    "grants": getKeywords(4),
                    "grantKeywords": getKeywords(5),
                }

                fetch('/addresearcher', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(response => response.json()).then(data => {
                    if (data.id == undefined) {
                        document.getElementById("modal5").style.display = 'none'
                        document.getElementById('showAlert').textContent = data.alert
                        openModal(2)
                    } else {
                        window.location.href = `/researcher/${data.id}`
                    }
                });
            }
        }
    </script>
</body>
</html>