<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher</title>
    <%- head %>
</head>
<body>
    <!-- Navigation (sticky header). Links and dropdown collapse into a hamburger menu when the screen size is small. -->
    <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
        <!-- Brand on the left -->
        <a class="navbar-brand bigBrand" href="/" id="navbar-brand">Grant Matcher</a>

        <!-- Toggler (for mobile view) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial">Tutorial</a>
                </li>

                <!-- Dropdown (user menu) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- Logout button (opens a modal) -->
                        <li><button class="dropdown-item" onclick="openModal(1)">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The modal the logout button in the navigation bar opens -->
    <div id="modal1" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Log out</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close1">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to log out?</p>
            <div class="together">
                <form method="post" action="/">
                    <input type="submit" value="Logout!" class="buttonStyle">
                </form>
                <button id='cancel1' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- search researchers modal -->
    <div id="modal2" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Filter Researchers</h2>
                <span class="close" id="close2">&times;</span>
            </div>
            <hr/>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>NAME</b></label><br>
                    <input type="text" class="form-control" id="researcherName" name="researcherName" placeholder="Enter their name">
                </div>
                
                <div style="width: 100%;">
                    <label><b>SCHOOL</b></label><br>
                    <select name="school" class="form-control" id="school" style="width: 100%">
                        <option value="all">All</option>
                        <option value="geoscience">Geosciences</option>
                        <option value="philosophy">History and Philosophy</option>
                        <option value="chemistry">Chemistry</option>
                        <option value="biology">Life and Environmental Sciences</option>
                        <option value="mathematics">Mathematics and Statistics</option>
                        <option value="physics">Physics</option>
                        <option value="psychology">Psychology</option>
                        <option value="veterinary">Veterinary Science</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>EMAIL</b></label><br>
                    <input type="text" class="form-control" id="researcherEmail" name="researcherEmail" placeholder="Enter their email">
                </div>
                
                <div style="width: 100%;">
                    <label><b>GENDER</b></label><br>
                    <select name="gender" class="form-control" id="gender" style="width: 100%">
                        <option value="all">All</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                        <option value="N">Non-Binary</option>
                        <option value="U">Unknown Gender</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>ACTIVITY RANGE</b></label><br>
                    <div class="together">
                        <input type="number" class="form-control" id="lower" class="form-control" name="lower" min="0" max="1" step="0.01" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="number" class="form-control" id="higher" name="higher" min="0" max="1" style="width: 100%" step="0.01">
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <label><b>CAREER STAGE</b></label><br>
                    <select name="career" class="form-control" id="career" style="width: 100%">
                        <option value="all">All</option>
                        <option value=1>Post-Doctorate</option>
                        <option value=2>Early Career Researcher</option>
                        <option value=3>Mid-Career Researcher</option>
                        <option value=4>Senior Researcher</option>
                    </select>
                </div>
            </div>
            <br>

            <label><b>SELECT CLUSTERS</b></label>
            <p>Click clusters in the unselected list to select them, and click clusters in the selected list to deselect them. You can search and sort the two lists separately.</p>
            <div class="together clusterselector">
                <!-- List of the unselected clusters -->
                <div class="unselected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- This is where the user enters some text that is matched to the clusters in the unselectedClusters list -->
                            <input class="listboxtext" type="text" id="searchUnselectedClusters1" name="searchUnselectedClusters1" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- User can press this button to search from the list -->
                            <button class="listboxsubmit" onclick="findUnselectedCluster(1)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- Added a reset button so its easier for the user to reset the form (displaying all clusters in the list) -->
                            <button class="listboxsubmit" onclick="resetUnselectedClusterSearch(1)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <!-- Contains all unselected clusters -->
                    <div class="listboxdiv unselectedClusters" id="unselectedClusters1">
                    </div>
                    <div class="clustersort">
                        <label for="sortUnselected1">Sort By:</label>

                        <!-- Sort-by dropdown -->
                        <select name="sortUnselected1" id="sortUnselected1" onchange="sortUnselected(1)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>

                <!-- Duplicate of the unselected list (for consistency and symmetrical balance) but with different names -->
                <div class="selected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <input class="listboxtext" type="text" id="searchSelectedClusters1" name="searchSelectedClusters1" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="findSelectedCluster(1)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="resetSelectedClusterSearch(1)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="listboxdiv selectedClusters" id="selectedClusters1">
                    </div>
                    <div class="clustersort">
                        <label for="sortSelected1">Sort By:</label>

                        <select name="sortSelected1" id="sortSelected1" onchange="sortSelected(1)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="together">
                <label><b>KEYWORDS</b>
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Add keywords by pressing the add button. Remove keywords from the list by pressing the trash icon next to the keyword you want to remove.">
                        <!-- Makes the tooltip circular -->
                        <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                    </button>
                </label>
            </div>

            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <div class="listbox" style="overflow:auto; ">
                        <div class="listboxdiv" style="height: 70px;">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- All keywords displayed here -->
                            <ul class="listboxul" id="list1" style="height: 70px;">
                            </ul>
                        </div>

                        <!-- The two elements in the div are on the same line -->
                        <div class="listboxinput">
                            <!-- User enters keywords here -->
                            <div class="listboxtextdiv">
                                <input class="listboxtext" type="text" id="keyword1" name="keyword1" placeholder="Enter a keyword">
                            </div>

                            <!-- User presses this button to add the keyword to the list -->
                            <div class="listboxsubmitdiv">
                                <button class="listboxsubmit" onclick="addKeyword(1)"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <button class="buttonStyle pink" style="width: 100%;" onclick="searchResearcher(1, 2)">Search</button>
                    <button class="buttonStyle blue" style="width: 100%;" onclick="resetResearcherSearch(1, 2)">Reset Form</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!-- search grants modal -->
    <div id="modal3" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Filter Grants</h2>
                <span class="close" id="close3">&times;</span>
            </div>
            <hr/>
            
            <div class="together">
                <div style="width: 100%;">
                    <label><b>NAME OR URL</b></label><br>
                    <input type="text" id="grantName" class="form-control" name="grantName" placeholder="Enter the grant's name or its URL">
                </div>
                
                <div style="width: 100%;">
                    <label><b>USER</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="The user who added the grant to the database.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label><br>
                    <select name="grantUser" class="form-control" id="grantUser" style="width: 100%">
                        <option value="all">All</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>RESEARCHER</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Enter a researcher that has been matched to the grant.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label><br>
                    <!-- datalist is a bootstrap thing that allows you to search for the thing you're looking for
                     this is especially important since there might be a lot of researchers -->
                    <!-- i didn't include a thing like the cluster selector but for researchers because it might
                      get very bulky, which will harm the spaciness of the app and cause clutter -->
                    <!-- instead, users can exit the modal and search for the researchers first before coming back
                     to here -->
                    <input class="form-control" list="grantResearcherOptions" id="grantResearcher" placeholder="Type to search researchers...">
                    <datalist id="grantResearcherOptions">
                        <option data-value="all" value="Any">
                    </datalist>
                </div>
                
                <div style="width: 100%;">
                    <label><b>MATCHED?</b></label><br>
                    <select name="matched" id="matched" style="width: 100%" class="form-control">
                        <option value="all">Any</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>DEADLINE RANGE</b></label><br>
                    <div class="together datetogether">
                        <input type="date" id="deadlineLower" class="form-control" name="deadlineLower" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="date" class="form-control" id="deadlineHigher" name="deadlineHigher" style="width: 100%">
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <label><b>DURATION RANGE</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="How long the funding will last">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label><br>
                    <div class="together datetogether">
                        <input type="number" id="durationLower" name="durationLower" class="form-control" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="number" class="form-control" id="durationHigher" name="durationHigher" style="width: 100%">
                    </div>
                </div>
            </div>
            <br>

            <label><b>SELECT CLUSTERS</b></label>
            <p>Click clusters in the unselected list to select them, and click clusters in the selected list to deselect them. You can search and sort the two lists separately.</p>
            <div class="together clusterselector">
                <!-- List of the unselected clusters -->
                <div class="unselected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- This is where the user enters some text that is matched to the clusters in the unselectedClusters list -->
                            <input class="listboxtext" type="text" id="searchUnselectedClusters2" name="searchUnselectedClusters2" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- User can press this button to search from the list -->
                            <button class="listboxsubmit" onclick="findUnselectedCluster(2)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <!-- Added a reset button so its easier for the user to reset the form (displaying all clusters in the list) -->
                            <button class="listboxsubmit" onclick="resetUnselectedClusterSearch(2)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <!-- Contains all unselected clusters -->
                    <div class="listboxdiv unselectedClusters" id="unselectedClusters2">
                    </div>
                    <div class="clustersort">
                        <label for="sortUnselected2">Sort By:</label>

                        <!-- Sort-by dropdown -->
                        <select name="sortUnselected2" id="sortUnselected2" onchange="sortUnselected(2)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>

                <!-- Duplicate of the unselected list (for consistency and symmetrical balance) but with different names -->
                <div class="selected">
                    <div class="listboxinput">
                        <div class="listboxtextdiv">
                            <input class="listboxtext" type="text" id="searchSelectedClusters2" name="searchSelectedClusters2" placeholder="Enter a cluster">
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="findSelectedCluster(2)"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="listboxsubmitdiv">
                            <button class="listboxsubmit" onclick="resetSelectedClusterSearch(2)"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="listboxdiv selectedClusters" id="selectedClusters2">
                    </div>
                    <div class="clustersort">
                        <label for="sortSelected2">Sort By:</label>

                        <select name="sortSelected2" id="sortSelected2" onchange="sortSelected(2)">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="number"># of Researchers</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <label><b>KEYWORDS</b>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Add keywords by pressing the add button. Remove keywords from the list by pressing the trash icon next to the keyword you want to remove.">
                    <!-- Makes the tooltip circular -->
                    <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                </button>
            </label>
            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <div class="listbox" style="overflow:auto; ">
                        <div class="listboxdiv" style="height: 70px;">
                            <!-- Numbering the IDs so I can use many selectors (code reuse) -->
                            <!-- All keywords displayed here -->
                            <ul class="listboxul" id="list2" style="height: 70px;">
                            </ul>
                        </div>

                        <!-- The two elements in the div are on the same line -->
                        <div class="listboxinput">
                            <!-- User enters keywords here -->
                            <div class="listboxtextdiv">
                                <input class="listboxtext" type="text" id="keyword2" name="keyword2" placeholder="Enter a keyword">
                            </div>

                            <!-- User presses this button to add the keyword to the list -->
                            <div class="listboxsubmitdiv">
                                <button class="listboxsubmit" onclick="addKeyword(2)"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <button class="buttonStyle pink" style="width: 100%;" onclick="searchGrant(2, 3)">Search</button>
                    <button class="buttonStyle blue" style="width: 100%;" onclick="resetGrantSearch(2, 3)">Reset Form</button>
                </div>
            </div>
        </div>
    </div>

    <!-- search clusters modal -->
    <div id="modal4" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Filter Clusters</h2>
                <span class="close" id="close4">&times;</span>
            </div>
            <hr/>
     
            <div class="together">
                <div style="width: 100%;">
                    <label><b>NAME</b></label><br>
                    <input type="text" id="clusterName" class="form-control" name="clusterName" placeholder="Enter the cluster's name">
                </div>
                
                <div style="width: 100%;">
                    <label><b>MATCH TO</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Enter something relevant to the clusters you want to find.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label><br>
                    <input type="text" id="matchTo" class="form-control" name="matchTo" placeholder="Enter the something relevant to the cluster">
                </div>
            </div>
            <br>

            <label><b># OF RESEARCHERS</b></label><br>
            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <div class="together">
                        <input type="number" id="researchersLower" class="form-control" name="researchersLower" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="number" class="form-control" id="researchersHigher" name="researchersHigher" style="width: 100%">
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <button class="buttonStyle blue" style="width: 100%;" onclick="resetClusterSearch(3, 4)">Reset Form</button><br>
                    <button class="buttonStyle pink" style="width: 100%;" onclick="searchCluster(3, 4)">Search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- search users modal -->
    <div id="modal5" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Filter Users</h2>
                <span class="close" id="close5">&times;</span>
            </div>
            <hr/>
            
            <div class="together">
                <div style="width: 100%;">
                    <label><b>NAME</b></label><br>
                    <input type="text" id="userName" class="form-control" name="userName" placeholder="Enter the user's name">
                </div>
                
                <div style="width: 100%;">
                    <label><b>EMAIL</b></label><br>
                    <input type="text" id="userEmail" class="form-control" name="userEmail" placeholder="Enter the user's email">
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>ROLE</b></label><br>
                    <select name="role" id="role" style="width: 100%" class="form-control">
                        <option value="all">Any</option>
                        <option value="user">User</option>
                        <option value="manager">Manager</option>
                        <option value="developer">Developer</option>
                    </select>
                </div>
                
                <div style="width: 100%;">
                    <label><b>XP RANGE</b></label><br>
                    <div class="together">
                        <input type="number" id="xpLower" name="xpLower" class="form-control" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="number" class="form-control" id="xpHigher" name="xpHigher" style="width: 100%">
                    </div>
                </div>
            </div>
            <br>
            <div class="together">
                <div style="width: 100%;">
                    <label><b>DATE JOINED</b></label><br>
                    <div class="together datetogether">
                        <input type="date" id="dateJoinedLower" class="form-control" name="dateJoinedLower" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="date" class="form-control" id="dateJoinedHigher" name="dateJoinedHigher" style="width: 100%">
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <label><b>GRANTS MATCHED</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="How many grants this user matched">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label><br>
                    <div class="together datetogether">
                        <input type="number" id="grantsLower" name="grantsLower" class="form-control" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="number" class="form-control" id="grantsHigher" name="grantsHigher" style="width: 100%">
                    </div>
                </div>
            </div>
            <br>

            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <button class="buttonStyle blue" style="width: 100%;" onclick="resetUserSearch(4, 5)">Reset Form</button>
                </div>
                
                <div style="width: 100%;">
                    <button class="buttonStyle pink" style="width: 100%;" onclick="searchUser(4, 5)">Search</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- search changes modal -->
    <div id="modal6" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Filter Changes</h2>
                <span class="close" id="close6">&times;</span>
            </div>
            <hr/>
            
            <div class="together">
                <div style="width: 100%;">
                    <label><b>USER</b></label><br>
                    <select name="changeUser" id="changeUser" style="width: 100%" class="form-control">
                        <option value="all">Any</option>
                    </select>
                </div>
                
                <div style="width: 100%;">
                    <label><b>TYPE</b></label><br>
                    <select name="changeType" id="changeType" style="width: 100%" class="form-control">
                        <option value="all">Any</option>
                        <option value="Researcher Recalculated">Researcher Recalculated</option>
                        <option value="Researcher Added">Researcher Added</option>
                        <option value="Researcher Edited">Researcher Edited</option>
                        <option value="Researcher Deleted">Researcher Deleted</option>
                        <option value="Grant Added">Grant Added</option>
                        <option value="Grant Edited">Grant Edited</option>
                        <option value="Grant Deleted">Grant Deleted</option>
                        <option value="Grant Matched">Grant Matched</option>
                        <option value="User Joined">User Joined</option>
                        <option value="User Edited">User Edited</option>
                        <option value="User Deleted">User Deleted</option>
                        <option value="User Suspended">User Suspended</option>
                        <option value="User Unsuspended">User Unsuspended</option>
                        <option value="Code Added">Code Added</option>
                        <option value="Code Deleted">Code Deleted</option>
                        <option value="Clusters Edited">Clusters Edited</option>
                        <option value="Ticket Created">Ticket Created</option>
                        <option value="Ticket Edited">Ticket Edited</option>
                        <option value="Ticket Resolved">Ticket Resolved</option>
                        <option value="Ticket Replied To">Ticket Replied To</option>
                        <option value="Ticket Reply Edited">Ticket Reply Edited</option>
                    </select>
                </div>
            </div>
            <br>

            <label><b>DATE</b></label><br>
            <div class="together" style="align-items: flex-start;">
                <div style="width: 100%;">
                    <div class="together datetogether">
                        <input type="date" id="dateLower" class="form-control" name="dateLower" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="date" class="form-control" id="dateHigher" name="dateHigher" style="width: 100%">
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <button class="buttonStyle blue" style="width: 100%;" onclick="resetChangeSearch(5, 6, dbclick='description', idField='changeID')">Reset Form</button><br>
                    <button class="buttonStyle pink" style="width: 100%;" onclick="searchChange(5, 6, dbclick='description', idField='changeID')">Search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Welcome modal -->
    <div id="modal7" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Welcome!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close7">&times;</span>
            </div>
            <hr/>
            
            <p>Welcome to GrantMatcher - the world's leading figure in... well, matching grants! We hope you enjoy your stay! Before you get started, check out the <a href="/tutorial">tutorial</a> page to learn how to use this site.</p>
        </div>
    </div>

    <!-- The modal when the user tries to filter a table but nothing is found -->
    <div id="modal8" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Nothing Found</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close8">&times;</span>
            </div>
            
            <p>Nothing was found in this search :( Reset the form or try different parameters.</p>
        </div>
    </div>

    <!-- The modal when the user double clicks an entry (the text is changed in script.js) -->
    <div id="modal9" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>More details...</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close9">&times;</span>
            </div>
            
            <p id="doubleclickdetails"></p>
        </div>
    </div>

    <!-- The main content -->
    <main>
        <section>
            <h1>Dashboard</h1>
        </section>
        <hr/>

        <section>
            <h2>Researchers</h2>
            <div class="tableContainer" id="tableContainer1">
                <div>
                    <div class="tableicons">
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Filter Researchers">
                            <i onclick="openModal(2)" class=" fa fa-search"></i>
                        </button>
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Add a Researcher">
                            <i onclick="window.location.href = '/addresearcher'" class=" fa fa-plus-square-o"></i>
                        </button>
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Recalculate the Researchers' Data">
                            <i onclick="window.location.href = '/recalculate'" class=" fa fa-refresh"></i>
                        </button>
                    </div>
                    <div class="tablesort">
                        <label for="sortTable1">Sort By:</label>

                        <select name="sortTable1" id="sortTable1" onchange="sortTable(1)" style="margin-bottom: 5px;">
                            <option value="blahblah" default>Select</option>
                            <option value="name">Name</option>
                            <option value="activity">Activity</option>
                            <option value="careerStage">Career Stage</option>
                            <option value="editNumber"># of Edits</option>
                        </select>
                    </div>
                </div>

                <div style="max-width: 100vw;" >
                    <div class="scrollTableContainer">
                        <table class="table table-bordered" style="margin-bottom: 0; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
                            <thead>
                                <!-- Column names -->
                                <tr>
                                <th>Name</th>
                                <th>Keywords</th>
                                <th>Activity</th>
                                </tr>
                            </thead>
                            <!-- Table items -->
                            <tbody id="tableBody1"></tbody>
                        </table>
                    </div>
                </div>

                <!-- Table footer (with pagination controls and download button) -->
                <div class="pagination-controls" style="border: 1px solid black; margin-top: 0;">
                    <!-- The download button should be left-aligned while the rest is right-aligned -->
                    <!-- align-items-center ensures that the text and icons are aligned properly (otherwise the text sticks out vertically and its distracting) -->
                    <div class="d-flex align-items-center gap-2 d-flex w-100 px-3 py-2">
                        <div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-download"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">XML</a></li>
                                    <li><a class="dropdown-item" href="#">CSV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <!-- Numbering the IDs so I can use many tables (code reuse) -->
                            <button class="btn" id="firstNav1" onclick="goToFirst(1)"><i class="fa fa-angle-double-left"></i></button>
                            <button class="btn" id="prevNav1" onclick="goToPrev(1)"><i class="fa fa-angle-left"></i></button>
                            <!-- Tells the user what page they are on -->
                            <span id="pageStats1"></span>
                            <button class="btn" id="nextNav1" onclick="goToNext(1)"><i class="fa fa-angle-right"></i></button>
                            <button class="btn" id="lastNav1" onclick="goToLast(1)"><i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr/>

        <section>
            <h2>Grants</h2>
            <div class="tableContainer" id="tableContainer2">
                <div>
                    <div class="tableicons">
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Filter Grants">
                            <i onclick="openModal(3)" class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Add a Grant">
                            <i onclick="window.location.href = '/addgrant'" class="fa fa-plus-square-o"></i>
                        </button>
                    </div>
                    <div class="tablesort">
                        <label for="sortTable2">Sort By:</label>

                        <select name="sortTable2" id="sortTable2" onchange="sortTable(2)" style="margin-bottom: 5px;">
                            <option value="blahblah" default>Select</option>
                            <option value="grantName">Name</option>
                            <option value="deadlineReformatted">Deadline</option>
                            <option value="researcherNumber"># of Researchers</option>
                        </select>
                    </div>
                </div>

                <div class="scrollTableContainer">
                    <table class="table table-bordered" style="margin-bottom: 0; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
                        <thead>
                            <!-- Column names -->
                            <tr>
                            <th>Name</th>
                            <th>Keywords</th>
                            <th>Deadline</th>
                            <th>Matched</th>
                            </tr>
                        </thead>
                        <!-- Table items -->
                        <tbody id="tableBody2"></tbody>
                    </table>
                </div>

                <!-- Table footer (with pagination controls and download button) -->
                <div class="pagination-controls" style="border: 1px solid black; margin-top: 0;">
                    <!-- The download button should be left-aligned while the rest is right-aligned -->
                    <!-- align-items-center ensures that the text and icons are aligned properly (otherwise the text sticks out vertically and its distracting) -->
                    <div class="d-flex align-items-center gap-2 d-flex w-100 px-3 py-2">
                        <div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-download"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">XML</a></li>
                                    <li><a class="dropdown-item" href="#">CSV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <!-- Numbering the IDs so I can use many tables (code reuse) -->
                            <button class="btn" id="firstNav2" onclick="goToFirst(2)"><i class="fa fa-angle-double-left"></i></button>
                            <button class="btn" id="prevNav2" onclick="goToPrev(2)"><i class="fa fa-angle-left"></i></button>
                            <!-- Tells the user what page they are on -->
                            <span id="pageStats2"></span>
                            <button class="btn" id="nextNav2" onclick="goToNext(2)"><i class="fa fa-angle-right"></i></button>
                            <button class="btn" id="lastNav2" onclick="goToLast(2)"><i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr/>

        <section>
            <h2>Clusters</h2>
            <div class="tableContainer" id="tableContainer3">
                <div>
                    <div class="tableicons">
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Filter Clusters">
                            <i onclick="openModal(4)" class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Edit Clusters">
                            <i onclick="window.location.href = '/manageclusters'" class="fa fa-pencil-square-o"></i>
                        </button>
                    </div>
                    <div class="tablesort">
                        <label for="sortTable3">Sort By:</label>

                        <select name="sortTable3" id="sortTable3" onchange="sortTable(3)" style="margin-bottom: 5px;">
                            <option value="blahblah" default>Select</option>
                            <option value="clusterID">ID</option>
                            <option value="name">Name</option>
                            <option value="numberResearchers"># of Researchers</option>
                        </select>
                    </div>
                </div>

                <div class="scrollTableContainer">
                    <table class="table table-bordered" style="margin-bottom: 0; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
                        <thead>
                            <!-- Column names -->
                            <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th># of Researchers</th>
                            </tr>
                        </thead>
                        <!-- Table items -->
                        <tbody id="tableBody3"></tbody>
                    </table>
                </div>

                <!-- Table footer (with pagination controls and download button) -->
                <div class="pagination-controls" style="border: 1px solid black; margin-top: 0;">
                    <!-- The download button should be left-aligned while the rest is right-aligned -->
                    <!-- align-items-center ensures that the text and icons are aligned properly (otherwise the text sticks out vertically and its distracting) -->
                    <div class="d-flex align-items-center gap-2 d-flex w-100 px-3 py-2">
                        <div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-download"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">XML</a></li>
                                    <li><a class="dropdown-item" href="#">CSV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <!-- Numbering the IDs so I can use many tables (code reuse) -->
                            <button class="btn" id="firstNav3" onclick="goToFirst(3)"><i class="fa fa-angle-double-left"></i></button>
                            <button class="btn" id="prevNav3" onclick="goToPrev(3)"><i class="fa fa-angle-left"></i></button>
                            <!-- Tells the user what page they are on -->
                            <span id="pageStats3"></span>
                            <button class="btn" id="nextNav3" onclick="goToNext(3)"><i class="fa fa-angle-right"></i></button>
                            <button class="btn" id="lastNav3" onclick="goToLast(3)"><i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr/>

        <section>
            <h2>Users</h2>
            <div class="tableContainer" id="tableContainer4">
                <div>
                    <div class="tableicons">
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Filter Users">
                            <i onclick="openModal(5)" class="fa fa-search"></i>
                        </button>
                        <!-- makes this only visible to managers/developers -->
                        <% if (['manager', 'developer'].includes(role)) { %>
                            <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Manage Codes">
                                <i onclick="window.location.href = '/managecodes'" class="fa fa-users"></i>
                            </button>
                        <% } %>
                    </div>
                    <div class="tablesort">
                        <label for="sortTable4">Sort By:</label>

                        <select name="sortTable4" id="sortTable4" onchange="sortTable(4)" style="margin-bottom: 5px;">
                            <option value="blahblah" default>Select</option>
                            <option value="name">Name</option>
                            <option value="xp">XP</option>
                            <option value="grantsMatched">Grants Matched</option>
                            <option value="dateReformatted">Date Joined</option>
                        </select>
                    </div>
                </div>

                <div class="scrollTableContainer">
                    <table class="table table-bordered" style="margin-bottom: 0; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
                        <thead>
                            <!-- Column names -->
                            <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>XP</th>
                            </tr>
                        </thead>
                        <!-- Table items -->
                        <tbody id="tableBody4"></tbody>
                    </table>
                </div>

                <!-- Table footer (with pagination controls and download button) -->
                <div class="pagination-controls" style="border: 1px solid black; margin-top: 0;">
                    <!-- The download button should be left-aligned while the rest is right-aligned -->
                    <!-- align-items-center ensures that the text and icons are aligned properly (otherwise the text sticks out vertically and its distracting) -->
                    <div class="d-flex align-items-center gap-2 d-flex w-100 px-3 py-2">
                        <div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-download"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">XML</a></li>
                                    <li><a class="dropdown-item" href="#">CSV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <!-- Numbering the IDs so I can use many tables (code reuse) -->
                            <button class="btn" id="firstNav4" onclick="goToFirst(4)"><i class="fa fa-angle-double-left"></i></button>
                            <button class="btn" id="prevNav4" onclick="goToPrev(4)"><i class="fa fa-angle-left"></i></button>
                            <!-- Tells the user what page they are on -->
                            <span id="pageStats4"></span>
                            <button class="btn" id="nextNav4" onclick="goToNext(4)"><i class="fa fa-angle-right"></i></button>
                            <button class="btn" id="lastNav4" onclick="goToLast(4)"><i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr/>

        <section>
            <h2>Change Log</h2>
            <p>Double-click a row to see the description.</p>
            <div class="tableContainer" id="tableContainer5">
                <div>
                    <div class="tableicons">
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Filter Changes">
                            <i onclick="openModal(6)" class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="tablesort">
                        <label for="sortTable5">Sort By:</label>

                        <select name="sortTable5" id="sortTable5" onchange="sortTable(5, dbclick='description', idField='changeID')" style="margin-bottom: 5px;">
                            <option value="blahblah" default>Select</option>
                            <option value="dateReformatted">Date</option>
                            <option value="type">Type</option>
                            <option value="username">User</option>
                        </select>
                    </div>
                </div>

                <div class="scrollTableContainer">
                    <table class="table table-bordered" style="margin-bottom: 0; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
                        <thead>
                            <!-- Column names -->
                            <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>User</th>
                            </tr>
                        </thead>
                        <!-- Table items -->
                        <tbody id="tableBody5"></tbody>
                    </table>
                </div>

                <!-- Table footer (with pagination controls and download button) -->
                <div class="pagination-controls" style="border: 1px solid black; margin-top: 0;">
                    <!-- The download button should be left-aligned while the rest is right-aligned -->
                    <!-- align-items-center ensures that the text and icons are aligned properly (otherwise the text sticks out vertically and its distracting) -->
                    <div class="d-flex align-items-center gap-2 d-flex w-100 px-3 py-2">
                        <div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-download"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">XML</a></li>
                                    <li><a class="dropdown-item" href="#">CSV</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <!-- Numbering the IDs so I can use many tables (code reuse) -->
                            <button class="btn" id="firstNav5" onclick="goToFirst(5, dbclick='description', idField='changeID')"><i class="fa fa-angle-double-left"></i></button>
                            <button class="btn" id="prevNav5" onclick="goToPrev(5, dbclick='description', idField='changeID')"><i class="fa fa-angle-left"></i></button>
                            <!-- Tells the user what page they are on -->
                            <span id="pageStats5"></span>
                            <button class="btn" id="nextNav5" onclick="goToNext(5, dbclick='description', idField='changeID')"><i class="fa fa-angle-right"></i></button>
                            <button class="btn" id="lastNav5" onclick="goToLast(5, dbclick='description', idField='changeID')"><i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </section>
    </main>
    
    <!-- EJS partial (for code reuse and efficiency) -->
    <%- footer %>

    <!-- Bootstrap for JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- This file allows for the user to interact with the elements on the site and for the site to give feedback to the user -->
    <script src="script.js"></script>
    <!-- JQuery for the tooltip -->
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
    <script>
        // show welcome message
        if ("<%= showAlert %>" != "no") {
            openModal(7);
        }
    </script>
</body>
</html>