<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher</title>
    <!-- EJS partial (for code reuse and efficiency) -->
    <%- head %>
</head>
<body>
    <!-- The main content -->
    <section>
        <h1>Test</h1>
    </section>

    <!-- EJS partial (for code reuse and efficiency) -->
    <%- footer %>
    <!-- Bootstrap for CSS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- This file allows for the user to interact with the elements on the site and for the site to give feedback to the user -->
    <script src="script.js"></script>
    <!-- JQuery for the tooltip -->
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
</body>
</html>