<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher - Login</title>
    <%- head %>
</head>
<body>
    <!-- Navigation (sticky header). Links and dropdown collapse into a hamburger menu when the screen size is small. -->
    <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
        <!-- Brand on the left -->
        <a class="navbar-brand bigBrand" href="/" id="navbar-brand">Grant Matcher</a>

        <!-- Toggler (for mobile view) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial">Tutorial</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The error modal when the credentials are invalid -->
    <div id="modal1" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close1">&times;</span>
            </div>
            <hr/>
            
            <p>Your credentials are invalid. Please retry.</p>
        </div>
    </div>

    <!-- The main content -->
    <main>
        <section class="d-flex justify-content-center flex-grow-1">
            <div style="margin: 0 auto; display:inline-block; max-width: fit-content; width: 200px; overflow: hidden; padding-bottom: 10px;">
                <h1 style="text-align: center;">Login</h1>
                <p>Don't have an account yet? <a href="/signup">Signup</a> instead!</p>
                <label><b>EMAIL</b></label><br>
                <input type="text" id="email" name="email" placeholder="Enter Your Email" required><br><br>

                <label><b>PASSWORD</b></label><br>
                <div class="together">
                    <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
                    <button onclick="togglePassword()" id="passwordToggle"><i class="fa fa-eye"></i></button>
                </div>
                <br>

                <div style="float: right;">
                    <input type="checkbox" id="rememberme" name="rememberme" value="rememberme">
                    <label for="rememberme"> Remember Me</label><br>
                </div><br><br>

                <button class="buttonStyle" onclick="submitForm()" style="width: 100%">LOGIN</button>
            </div>
        </section>
    </main>
    <%- footer %>
    <!-- Bootstrap for JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        // toggle the password field
        function togglePassword() {
            password = document.getElementById('password') // get the password element

            // if its hidden...
            if (password.type == 'password') {
                password.type = 'text' // make it visible
                // change the toggle button
                document.getElementById('passwordToggle').innerHTML = '<i class="fa fa-eye-slash"></i>'
            // otherwise if its visible...
            } else {
                password.type = 'password' // make it hidden
                // change the toggle button
                document.getElementById('passwordToggle').innerHTML = '<i class="fa fa-eye"></i>'
            }
        }

        function submitForm() {
            // ensure that email and password arent empty or spaces
            if (document.getElementById("email").value.trim() === '' || document.getElementById("password").value.trim() === '') {
                openModal(1)
            } else {
                data = {
                    "email": document.getElementById("email").value,
                    "password": document.getElementById("password").value,
                    "rememberme": document.getElementById("rememberme").value
                }

                fetch('/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                }).then(response => response.json()).then(data => {
                    if (data.success == 'failure') {
                        openModal(1)
                    } else { 
                        window.location.href = '<%= urlinit %>'
                    }
                });
            }
        }
    </script>
</body>
</html>