<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Presentation Layer Tests - Login</title>
    <%- head %>
</head>
<body>
    <section>
        <h1>Login Form</h1>
        <b>Message: <%= message %></b><br>

        <form method="post" action="/login">
            <p><b>Username: </b></p>
            <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
            <br>

            <p><b>Password:</b> </p>
            <input type="text" id="password" name="password" placeholder="Enter Your Password" required>
            <br>

            <input type="submit" value="Login!">
        </form>
    </section>
    <%- footer %>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>