<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher - Manage Codes</title>
    <%- head %>
</head>
<body>
    <!-- Navigation (sticky header). Links and dropdown collapse into a hamburger menu when the screen size is small. -->
    <nav class="navbar navbar-expand-lg navbar-dark px-3" id="navbar">
        <!-- Brand on the left -->
        <a class="navbar-brand bigBrand" href="/" id="navbar-brand">Grant Matcher</a>

        <!-- Toggler (for mobile view) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial">Tutorial</a>
                </li>

                <!-- Dropdown (user menu) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- Logout button (opens a modal) -->
                        <li><button class="dropdown-item" onclick="openModal(1)">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The modal the logout button in the navigation bar opens -->
    <div id="modal1" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Log out</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close1">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to log out?</p>
            <div style="display: flex">
                <form method="post" action="/">
                    <input type="submit" value="Logout!" class="buttonStyle">
                </form>
                <button id='cancel1' class="buttonStyle">Cancel</button>
            </div>
        </div>
    </div>

    <!-- The modal to search for codes -->
    <div id="modal2" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Search Code</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close2">&times;</span>
            </div>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>EMAIL</b></label>
                    <input type="text" id="email" class="form-control" name="email" placeholder="Enter the new user's email">
                </div>
                
                <div style="width: 100%;">
                    <label><b>ROLE</b></label>
                    <select name="role" class="form-control" id="role" style="width: 100%">
                        <option value="all">All</option>
                        <option value="user">Regular User</option>
                        <option value="manager">Manager</option>
                        <option value="developer">Developer</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>CODE</b></label>
                    <input type="text" id="code" class="form-control" name="code" placeholder="Enter the code">
                </div>
                
                <div style="width: 100%;">
                    <label><b>CLAIMED?</b>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Codes are unclaimed if the email they are assigned to hasn't made an account on Grant Matcher yet.">
                            <!-- Makes the tooltip circular -->
                            <i class="fa fa-question" style="border-radius: 70%; border: 2px solid black; padding: 1px 5px 1px 4px;"></i>
                        </button>
                    </label>
                    <select name="claimed" class="form-control" id="claimed" style="width: 100%">
                        <option value="all">Any</option>
                        <option value="yes">Claimed</option>
                        <option value="no">Unclaimed</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>DATE ADDED</b></label>
                    <div class="together datetogether">
                        <input type="date" id="dateLower" class="form-control" name="dateLower" style="width: 100%"><p style="margin-left: 5px; margin-right: 5px;">to</p><input type="date" class="form-control" id="dateHigher" name="dateHigher" style="width: 100%">
                    </div>
                </div>
                
                <div style="width: 100%;">
                    <button class="buttonStyle pink" style="width: 100%;" onclick="searchCode(9, 2, dbclick=null, idField='code')">Search</button><br>
                    <button class="buttonStyle blue" style="width: 100%;" onclick="resetCodeSearch(9, 2, dbclick=null, idField='code')">Reset Form</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!-- The modal to add a code -->
    <div id="modal3" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Add a Code</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close3">&times;</span>
            </div>

            <div class="together">
                <div style="width: 100%;">
                    <label><b>EMAIL</b></label>
                    <input type="text" id="newEmail" class="form-control" name="newEmail" placeholder="Enter the new user's email" required>
                </div>
                
                <div style="width: 100%;">
                    <label><b>ROLE</b></label>
                    <select name="newRole" class="form-control" id="newRole" style="width: 100%" required>
                        <option value="user">Regular User</option>
                        <option value="manager">Manager</option>
                        <option value="developer">Developer</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="together">
                <div style="width: 100%;">
                    <button class="buttonStyle pink" style="width: 100%;" onclick="addCode()">Add this Code</button>
                </div>
                
                <div style="width: 100%;">
                    <button id='cancel3' class="buttonStyle blue" style="width: 100%;">Cancel</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!-- The modal to remove a code -->
    <div id="modal4" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Remove Code</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close4">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to remove this code?</p>
            <button class="buttonStyle" id="confirmDelete">Delete</button>
            <button id='cancel4' class="buttonStyle">Cancel</button>
        </div>
    </div>

    <!-- The error modal -->
    <div id="modal5" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Error!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close5">&times;</span>
            </div>
            
            <p id="showAlert"></p>
        </div>
    </div>

    <!-- New code modal (instructions on how to proceed) -->
    <div id="modal6" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>New Code Generated!</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close6">&times;</span>
            </div>
            
            <p id="newCodeAlert"></p>
        </div>
    </div>

    <!-- The modal when the user tries to filter a table but nothing is found -->
    <div id="modal8" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Nothing Found</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close8">&times;</span>
            </div>
            
            <p>Nothing was found in this search :( Reset the form or try different parameters.</p>
        </div>
    </div>

    <!-- Confirmation modal for going back to dashboard -->
    <div id="modal9" class="modal">
        <div class="modal-body">
            <div class="together">
                <h2>Go Back</h2>
                <!-- Numbering the IDs so I can use many modals (code reuse) -->
                <span class="close" id="close9">&times;</span>
            </div>
            
            <!-- Confirmation message (for user control) -->
            <p>Are you sure you want to go back to the dashboard?</p>
            <button class="buttonStyle" onclick="window.location.href = '/'">Go Back</button>
            <button id='cancel9' class="buttonStyle">Cancel</button>
        </div>
    </div>

    <!-- The main content -->
    <main>
        <section>
            <div class="together align-items-center" style="justify-content: space-between;">
                <div>
                    <h1>Manage Codes</h1>
                </div>
                <div>
                    <i class="fa fa-times" onclick="openModal(9)"></i>
                </div>
            </div>
        </section>
        <hr/>

        <section>
            <h2>Authentication Codes</h2>
            <p>Here are a list of all authentication codes. These codes are used to verify the identity of new users when the sign in. Codes are unclaimed if the email they are assigned to hasn't made an account on Grant Matcher yet.</p>
            <div class="tableContainer" id="tableContainer1">
                <div>
                    <div class="tableicons">
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Filter Codes">
                            <i onclick="openModal(2)" class=" fa fa-search"></i>
                        </button>
                        <button type="button" class="btn" style="padding-left: 0" data-toggle="tooltip" data-placement="top" title="Add a Code">
                            <i onclick="openModal(3)" class=" fa fa-plus-square-o"></i>
                        </button>
                    </div>
                    <div class="tablesort">
                        <label for="sortTable9">Sort By:</label>

                        <select name="sortTable9" id="sortTable9" onchange="sortTable(9, dbclick=null, idField='code')" style="margin-bottom: 5px;">
                            <option value="blahblah" default>Select</option>
                            <option value="userEmail">User's Email</option>
                            <option value="dateReformatted">Date Created</option>
                            <option value="role">Role</option>
                            <option value="claimed">Claimed</option>
                        </select>
                    </div>
                </div>

                <div style="max-width: 100vw;" >
                    <div class="scrollTableContainer">
                        <table class="table table-bordered" style="margin-bottom: 0; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
                            <thead>
                                <!-- Column names -->
                                <tr>
                                <th>Email</th>
                                <th>Code</th>
                                <th>Role</th>
                                <th>Date Added</th>
                                <th>Claimed?</th>
                                <th>Delete</th>
                                </tr>
                            </thead>
                            <!-- Table items -->
                            <tbody id="tableBody9"></tbody>
                        </table>
                    </div>
                </div>

                <!-- Table footer (with pagination controls and download button) -->
                <div class="pagination-controls" style="border: 1px solid black; margin-top: 0;">
                    <!-- The download button should be left-aligned while the rest is right-aligned -->
                    <!-- align-items-center ensures that the text and icons are aligned properly (otherwise the text sticks out vertically and its distracting) -->
                    <div class="d-flex align-items-center gap-2 d-flex w-100 px-3 py-2">
                        <div>
                            <i class="fa fa-download" onclick="downloadCSV(9)"></i>
                        </div>
                        <div class="ms-auto">
                            <!-- Numbering the IDs so I can use many tables (code reuse) -->
                            <button class="btn" id="firstNav9" onclick="goToFirst(9, dbclick=null, idField='code')"><i class="fa fa-angle-double-left"></i></button>
                            <button class="btn" id="prevNav9" onclick="goToPrev(9, dbclick=null, idField='code')"><i class="fa fa-angle-left"></i></button>
                            <!-- Tells the user what page they are on -->
                            <span id="pageStats9"></span>
                            <button class="btn" id="nextNav9" onclick="goToNext(9, dbclick=null, idField='code')"><i class="fa fa-angle-right"></i></button>
                            <button class="btn" id="lastNav9" onclick="goToLast(9, dbclick=null, idField='code')"><i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br><br>
    </main>
    
    <!-- EJS partial (for code reuse and efficiency) -->
    <%- footer %>

    <!-- Bootstrap for JS -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <!-- This file allows for the user to interact with the elements on the site and for the site to give feedback to the user -->
    <script src="script.js"></script>
    <!-- JQuery for the tooltip -->
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
    <script>
        function handleDelete(element) {
            code = element.split('-')[1]
            document.getElementById("confirmDelete").setAttribute("onclick", `deleteCode("${code}")`)
            openModal(4)
        }

        function deleteCode(code) {
            fetch('/removecode', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({code: code})
            }).then(response => response.json()).then(result => {
                if (result.status == "error") {
                    // open the error modal if there is an error
                    document.getElementById("modal3").style.display = 'none'
                    document.getElementById('showAlert').textContent = result.alert
                    openModal(5)
                } else {
                    window.location.reload() // reload the page (code table should be updated)
                }
            })
        }
    </script>
    <script>
        // generate a random code
        function generateCode() {
            // comple list of valid symbols to be used
            characters = 'abcdefghijklmnopqrstuvwxyz';
            characters += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            characters += '0123456789';
            characters += '!@#$%^&*_+,.?';

            let code = '';
            for (let i = 0; i < 8; i++) {
                // get a random character and add it to code
                index = Math.floor(Math.random() * characters.length);
                code += characters[index];
            }
            return code;
        }

        // add a code to the database
        async function addCode() {
            email = document.getElementById("newEmail").value
            role = document.getElementById("newRole").value

            // ensure that inputs are valid and provided
            if (email.trim() == '' || !['user', 'manager', 'developer'].includes(role)) {
                // open error modal
                document.getElementById("modal3").style.display = 'none'
                document.getElementById("showAlert").textContent = 'Please ensure you have filled in the appropriate fields.'
                openModal(5)
                return
            }

            while (true) {
                generatedCode = generateCode() // generate a random code

                validCode = true

                // check whether the code is already in the database
                await fetch('/db/codes').then(response => response.json()).then(dataCode => {
                    for (var i = 0; i < dataCode.length; i++) {
                        row = dataCode[i]
                        if (row.code == generatedCode) {
                            validCode = false
                        }
                    }
                })

                // break out of the while loop if the code is valid (it isnt in the database already)
                if (validCode) {
                    break;
                }
            }

            // compile the information
            information = {
                "email": email,
                "role": role,
                "code": generatedCode
            }

            // add the code to the database
            fetch('/addcode', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(information)
            }).then(response => response.json()).then(result => {
                document.getElementById("modal3").style.display = 'none'
                if (result.status == "error") {
                    // open the error modal if there is an error
                    document.getElementById('showAlert').textContent = result.alert
                    openModal(5)
                } else {
                    // open the modal for instructions on how to proceed
                    document.getElementById("newCodeAlert").textContent = `The new code has been successfully added! You can refresh the page to see the new code on the table. The 8-character code generated was "${generatedCode}". Send this code to ${email} so they can sign up to Grant Matcher. For security reasons, please don't share this code with anybody else!`
                    openModal(6)
                }
            })
        }
    </script>
</body>
</html>
