/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Courgette&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&family=Nerko+One&family=Rowdies:wght@300;400;700&family=Shadows+Into+Light&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Holtwood+One+SC&family=Joti+One&family=Peralta&display=swap');

/* GENERAL SETTINGS */

/* Ensures that footer stays at bottom
even if the page is too short */
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  margin-left: 20vw !important;
  margin-right: 20vw !important;
}

/* GENERAL STYLING */
blockquote {
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top:0;
  left:0;
  content: "\201C";
}

blockquote footer {
  padding: 0 2em 0 0;
  text-align: right;
  font-size: 1.4em;
}

blockquote cite:before {
  content: "\2013"
}

/* MEDIA ADAPTIVITY */
/* TODO */
@media (max-width: 700px) {
  section {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
}

/* IMPORTANT CLASSES */
/* On one line */
.together {
  /* Media responsivity */
  display: flex;
  align-items: center;
}

.spacer {
  /* Media responsivity */
  width: 10%;
}

/* Hidden Elements */
.hidden {
  display: none;
}

/* Sticky Header */
.navbar {
  position: sticky !important;
  z-index: 9999;
  top: 0;
}

#navbarNav {
  transition: visibility 0s, opacity 0.5s ease-out;
}

#navbarNav.hidden {
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
}

.bigBrand {
  font-size: 30px !important;
}

.smallBrand {
  font-size: 20px !important;
}

#navbar-brand {
  transition: font-size 1s;
}

/* Alerts */
.alert {
  padding-left: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: 1000;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 20px;
}

.closebtn:hover {
  color: black;
}

.pagination-controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* CUSTOM FORM ELEMENTS */
/* Keyword Selector */
.listbox {
  display: inline-grid;
  width: 100% !important;
}

.listboxdiv {
  padding: 0 !important;
  height: 200px !important;
  overflow-y: scroll;
  border: 2px solid black;
}

.listboxul {
  padding: 0 !important;
}

.listboxligray {
  list-style-type: none;
  background: white;
  padding-left: 10px;
}

.listboxliwhite {
  list-style-type: none;
  background: rgb(190, 190, 190);
  padding-left: 10px;
}

.listboxinput {
  display: flex; 
  width: 100%;
}

.listboxtextdiv {
  flex-grow: 4;
}

.listboxsubmitdiv {
  flex-grow: 1;
}

.listboxtext {
  width: 100% !important;
}

.listboxsubmit {
  width: 100% !important;
}

/* Cluster Selector */
.clusterselector {
  width: 100% !important;
}

.unselected {
  position: relative;
  float: left !important;
  /* Media responsivity */
  width: 45% !important;
}

.selected {
  position: relative;
  float: right !important;
  /* Media responsivity */
  width: 45% !important;
}

.unselectedClusterButton {
  /* Lighter colours? */
  background-color: #3eaae3;
  /* Media responsivity */
  margin: 10px;
}

.selectedClusterButton {
  /* Lighter colours? */
  background-color: #e02063;
  /* Media responsivity */
  margin: 10px;
}

.unselectedClusters, .selectedClusters {
  /* Media responsivity */
  padding: 10px  !important;
}

.clustersort {
  float: right;
}

/* Radio */
input[type=radio] {
  height: 1.1rem;
  width: 1.1rem;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: #b2f5ff;
  border: 3px solid #FFF;
  box-shadow: 0 0 0 1px #57b1be;
  transition: border 0.4s, background-color 0.5s;
  grid-template-columns: 1em auto;
}

input[type=radio]:hover {
  background-color: #71ecff;
  border: 3px solid #71ecff;
  box-shadow: 0 0 0 1px #57b1be;
}

input[type=radio]:checked {
  background: #57b1be;
  border: 3px solid white;
  box-shadow: 0 0 0 1px #57b1be;
}

/* Checkbox */
input[type=checkbox] {
  height: 1.2em;
  width: 1.2em;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid black;
  display: inline-block;
  transform: translateY(0.5em);
  background-color: white;
  transition: background-color 0.4s, box-shadow 0.4s;
}

input[type=checkbox]:hover {
  background-color: rgb(14, 111, 126, 0.4);
}

input[type=checkbox]:checked {
  border-color: rgb(0, 0, 0);
  background-color: #0e6f7e;
  box-shadow: inset 0 0 0 2px white;
}

/* ACCORDION */
.accordion {
  width: 100%;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* MODAL */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  padding: 20px;
  width: 60% !important; /* TODO: Add media query for this */
  max-height: 60vh;
  overflow-y: scroll;
}

/* The Close Button */
.close {
  position: absolute;
  color: #aaa;
  right: 15px;
  top: 15px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}