<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GrantMatcher</title>
    <%- head %>
</head>
<body>
    <section>
        <h1>Test</h1>
    </section>
    <%- footer %>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
</body>
</html>